---
layout: blog
title: Tags
permalink: /tags/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">

        <! -- BLOG POSTS LIST -->
        {% for tag in site.tags %}
                <a class="anchor" id="{{ tag.first }}"></a><h4>{{ tag.first }}</h4>
                    <div class="hline"></div>
                    <ul class="popular-posts">
                        {% for post in site.tags[tag.first] %}
                            <li>
                                <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                                <em>Posted on {{ post.date | date_to_string }}</em>
                            </li>

            {% endfor %}
                                                </ul>


        {% endfor %}
        </div><! --/col-lg-8 -->

        {% include sidebar_tag.html %}

    </div><! --/row -->
</div><! --/container -->
