<div id="headerwrap">
    <div class="container">
        <div class="jumbotron">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Hello, World</h3>
                <h1>Pluu Developer Blog</h1>
                <h5>이곳은 개발자 마음대로 작성하는 공간입니다.</h5>
                <h5>주로 안드로이드 관련으로 포스트할 예정입니다.</h5>
                <h5>GitHub Page 뒤죽박죽 작업중</h5>
                <h5>페이지 추가 작업이 필요한 경우, <font color="red">TODO TAG</font>가 들어가있습니다.</h5>				
            </div>
        </div><!-- /jumbotron -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->