<div class="col-lg-4">
   <!--  <h4>Search</h4>
    <div class="hline"></div>
        <p>
            <br/>
            <input type="text" class="form-control" placeholder="Search something">
        </p>
    <div class="spacing"></div> -->
    <h4>Subscribe</h4>
    <div class="hline"></div>
        <p>
            <p class="rss-subscribe">Subscribe to this blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
        </p>
    <div class="spacing"></div>
    <h4>Tags</h4>
    <div class="hline"></div>
    <div class="spacing"></div>

    {% capture site_tags %}{% for tag in site.tags %}{{ tag | first | downcase }}#{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
    {% assign tag_hashes = site_tags | split:',' | sort %}
    <div class="list-group">
    {% for hash in tag_hashes %}
        {% assign keyValue = hash | split: '#' %}
        {% capture tag_word %}{{ keyValue[1] | strip_newlines }}{% endcapture %}
        {% if tag_word != '' %}
            <a class="list-group-item" href="{{ '/tags/#'  | prepend: site.baseurl  }}{{ tag_word }}">
                {{ tag_word }}
                <span class="badge badge-theme pull-right">{{ site.tags[tag_word].size }}</span>
            </a>
        {% endif %}
    {% endfor %}
    </div>

    <div class="spacing"></div>

    <h4>Recent Posts</h4>
    <div class="hline"></div>
        <ul class="popular-posts">
            {% for post in site.categories['blog'] limit:4 %}
                <li>
                    <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                <em>Posted on {{ post.date | date_to_string }}</em>
            </li>
            {% endfor %}
        </ul>

    <!-- <div class="spacing"></div>

    <h4>Popular Tags</h4>
    <div class="hline"></div>
    <p>
    {% for tag in site.tags %}
            <a class="btn btn-theme" href="{{ '/tags.html#'  | prepend: site.baseurl  }}{{ tag | first }}-ref" role="button">{{ tag | first }} ({{ tag | last | size }})</a>
        {% endfor %}
    </p> -->
    <!-- <p>
    {% for category in site.categories %}{% unless category.first == "blog" or category.first == "project" or category.first == "question" %}
            <a class="btn btn-theme" href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}" role="button">{{ category | first | capitalize }} ({{ category | last | size }})</a>
        {% endunless %}{% endfor %}
     </p>-->
</div>
