---
layout: blog
title: Blog
---

<div class="container mtb">
    <div class="row">

        <! -- BLOG POSTS LIST -->
        <div class="col-lg-8">

            <div class="posts-list">
                {% for post in paginator.posts %}
                <article class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
                    <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p>
                    {{ post.excerpt }}
                    <p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p>
                    <div class="hline"></div>

                    <div class="spacing"></div>
                 </article>
                {% endfor %}
            </div>

            {% if paginator.total_pages > 1 %}
            <ul class="pager main-pager">
                {% if paginator.previous_page %}
                <li class="previous">
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer</a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ "/blog/all.html" | prepend: site.baseurl | replace: '//', '/' }}">All Post</a>
                </li>
                {% if paginator.next_page %}
                <li class="next">
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &rarr;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}

        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->
